/*==== zero ====*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

*input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

/*--------------------*/
body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222222;
  background-color: #ffffff;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

/*--------------------*/
/*====header====*/
.header {
  padding: 30px 0;
  border: 1px solid #ececec;
}

.header-inner,
.header-inner__logo,
.column-logo__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header-inner__logo_mr-30 {
  margin-right: 30px;
}

.header-inner__word,
.column-logo__word {
  padding-left: 10px;
  font-size: 27px;
  font-weight: 300;
  color: #222222;
  text-transform: uppercase;
}

.header-inner__word_color,
.column-logo__word_color {
  font-weight: 900;
  color: #f16d7f;
}

.header-inner__logo:hover,
.header-form__icon-search:hover,
.button-cart__icon:hover,
.column-logo__icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header-inner__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  font-weight: 300;
  line-height: 34px;
  background-color: #f8f8f8;
  border: none;
}

.header-form__button:hover {
  background-color: #f16d7f;
}

.header-form__button-text_mr-5 {
  margin-right: 5px;
}

.header-form__triangle_view {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #838383;
}

.header-form__input {
  border: none;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  padding-left: 15px;
}

.header-form__button_search {
  position: relative;
  width: 38px;
  background-color: #fff;
  border: none;
}

.header-form__icon-search {
  position: absolute;
  top: 11px;
  left: 4px;
  height: 16px;
  width: 30px;
  fill: #a4a4a4;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header-form__icon-search:hover {
  fill: #222;
}

.header-inner__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header-controls__button_cart {
  position: relative;
  border: none;
  background-color: #fff;
}

.header-controls__icon-cart {
  position: absolute;
  top: 1px;
  right: 25px;
  width: 32px;
  height: 29px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header-controls__button_account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  border: none;
  background-color: #f16d7f;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header-controls__button-text {
  margin-right: 7px;
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
}

.header-controls__triangle {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid #fff;
}

.header-controls__button_account:hover {
  background-color: #f31734;
}

/*--------------------*/
/*====menu====*/
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__link {
  margin-right: 40px;
  padding: 15px 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.menu__link:last-child {
  margin-right: 0;
}

.menu__link:hover {
  color: #f16d7f;
}

/*--------------------*/
/*====presentation====*/
.presentation {
  padding: 15% 0 19% 0;
  background-color: #e8e8e8;
  background-image: url(../image/titlePage/image_frame.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.presentation__text {
  position: relative;
  padding-left: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
}

.presentation__text::before {
  content: " ";
  display: block;
  width: 12px;
  position: absolute;
  left: 0;
  top: 7px;
  bottom: 5px;
  background-color: #f16d7f;
}

.presentation__text_font-size-big {
  font-size: 48px;
  font-weight: 900;
}

.presentation__text_font-size-smail {
  font-size: 32px;
}

.presentation__text_font-size-color {
  font-size: 37px;
  color: #f16d7f;
}

/*--------------------*/
/*====deal====*/
.deal {
  padding-top: 97px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(380px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 20px;
}

.deal-item {
  position: relative;
  padding-bottom: 50%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.deal-item:hover {
  -webkit-box-shadow: 10px 10px 8px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 10px 8px 5px rgba(0, 0, 0, 0.15);
}

.deal-item_big {
  grid-row: span 2;
  padding-bottom: 100%;
}

.deal-item__photo_images,
.suggestion-item__photo_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.deal-item__photo_images,
.suggestion-item__photo_image {
  -o-object-fit: cover;
     object-fit: cover;
}

.deal-item__layer {
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 4;
  padding: 15px;
  background-color: #fff;
}

.deal-item__text {
  font-size: 16px;
}

.deal-item__title {
  font-size: 24px;
  font-weight: 700;
  color: #f16d7f;
}

/*--------------------*/
/*====suggestion====*/
.suggestion-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 97px;
}

.suggestion-heading__title {
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
}

.suggestion-heading__subtitle {
  margin-bottom: 60px;
  color: #9f9f9f;
}

.suggestion-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.suggestion-item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 23%;
          flex: 1 1 23%;
  min-width: 250px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.suggestion-item:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.suggestion-item__photo {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
}

.suggestion-item__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(58, 56, 56, 0.86);
}

.suggestion-item__hover-dorder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 1px solid #fff;
}

.suggestion-item__hover-logo {
  margin-right: 7px;
  width: 23px;
  height: 22px;
}

.suggestion-item__hover-text {
  padding: 12px 0;
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
}

.suggestion-item:hover .suggestion-item__photo_image {
  z-index: -1;
}

.suggestion-item__text {
  padding: 20px 0 20px 15px;
}

.suggestion-item__text-title {
  margin-bottom: 15px;
  text-transform: uppercase;
}

.suggestion-item__text-price {
  font-size: 16px;
  text-transform: uppercase;
  color: #f16d7f;
}

.suggestion-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 80px auto;
  padding: 17px 15px 19px 20px;
  background-color: #f16d7f;
  border: 1px solid #ff6a6a;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.suggestion-button__text {
  margin-right: 12px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.suggestion-button__arrow {
  width: 14px;
  height: 16px;
  fill: #fff;
}

.suggestion-button:hover {
  background-color: #f31734;
}

/*--------------------*/
/*====reservation====*/
.reservation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 67% 11% 22%;
      grid-template-columns: 67% 11% 22%;
  -ms-grid-rows: (1fr)[3] 60px;
      grid-template-rows: repeat(3, 1fr) 60px;
  margin-bottom: 95px;
  padding: 0;
  background: #222224;
}

.reservation-photo {
  grid-row: span 4;
  background-image: url(../image/reservation/Image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-weight: 700;
  color: #ffffff;
  padding: 145px 0 0 40px;
}

.reservation-photo__title {
  font-size: 53.7px;
  margin-bottom: 5px;
}

.reservation-photo__title_color {
  color: #f16d7f;
}

.reservation-photo__title_smail {
  font-size: 32.2px;
}

.reservation__logo {
  -ms-grid-column: 2;
  grid-column: 2;
  margin-top: 44px;
  -ms-grid-column-align: center;
      justify-self: center;
  fill: #f16d7f;
}

.reservation__logo_delivery {
  width: 45px;
  height: 32px;
}

.reservation__logo_discounts {
  width: 40px;
  height: 40px;
}

.reservation__logo_assurance {
  width: 47px;
  height: 35px;
}

.reservation-info {
  -ms-grid-column: 3;
  grid-column: 3;
  padding: 55px 38px 0 0;
  color: #fbfbfb;
}

.reservation-info__title {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
}

.reservation-info__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

/*--------------------*/
/*====reviews====*/
.reviews {
  position: relative;
  background-image: url(../image/reviews/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reviews::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(244, 244, 244, 0.7);
  z-index: 1;
}

.reviews-columns {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.reviews-columns__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  color: #222224;
}

.column-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-comment__photo {
  padding-bottom: 50px;
}

.column-comment__text {
  max-width: 387px;
  font-size: 16px;
  color: #222224;
}

.column-comment__text_feedback {
  display: block;
  margin-bottom: 15px;
  line-height: 26px;
  font-style: italic;
}

.column-comment__text_name {
  display: block;
  font-weight: 700;
  color: #f16d7f;
}

.column-comment__text_entity {
  font-size: 12px;
}

.column-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-left: 1px solid #fff;
  text-transform: uppercase;
}

.column-form__title {
  padding-top: 34%;
  margin-bottom: 14px;
  font-size: 24px;
  font-weight: 700;
}

.column-form__subtitle {
  margin-bottom: 32px;
}

.column-form__button {
  margin: 0 auto 39%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  max-width: 356px;
  background-color: #e1e1e1;
  border-radius: 50px;
}

.column-form__button_email {
  padding-left: 21px;
  border: none;
  background-color: #e1e1e1;
}

.column-form__button_email::-webkit-input-placeholder {
  color: #222224;
  opacity: 0.67;
}

.column-form__button_btn {
  background: #f16d7f;
  padding: 16px 18px;
  border: none;
  color: #ffffff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.column-form__button_btn:hover {
  background: #f31734;
}

/*--------------------*/
/*====footer====*/
.footer-columns {
  margin: 100px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% (20%)[3];
      grid-template-columns: 40% repeat(3, 20%);
}

.column-logo__text {
  padding-top: 25px;
  line-height: 24px;
  font-weight: 300;
  color: #898989;
}

.footer-column {
  padding-left: 60px;
}

.footer-column__title {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
  color: #f16d7f;
}

.footer-column__list {
  margin-bottom: 25px;
}

.footer-column__list-link {
  font-size: 16px;
  color: #898989;
}

.footer-column__list-link:hover {
  color: #f16d7f;
}

.footer-bottom {
  background-color: #e6e6e6;
}

.footer-bottom__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom__text {
  padding: 30px 0;
  font-size: 16px;
  color: #7a7a7a;
}

.footer-bottom__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  background-color: #fff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.social__icon {
  fill: #b2b2b2;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.social__icon_facebook {
  width: 8px;
  height: 15px;
}

.social__icon_twitter {
  width: 16px;
  height: 13px;
}

.social__icon_linkedin {
  width: 15px;
  height: 15px;
}

.social__icon_pinterest {
  width: 12px;
  height: 15px;
}

.social__icon_google {
  width: 25px;
  height: 16px;
}

.social__item:hover {
  background-color: #f16d7f;
}

.social__item:hover .social__icon {
  fill: #fff;
}
