/*==== zero ====*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

*input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

/*--------------------*/
body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222222;
  background-color: #ffffff;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

/*--------------------*/
/*====header====*/
.header {
  padding: 30px 0;
  border: 1px solid #ececec;
}

.header-inner,
.header-inner__logo,
.column-logo__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__burger {
  display: none;
}

.header-inner__logo_mr-30 {
  margin-right: 30px;
}

.header-inner__word,
.column-logo__word {
  padding-left: 10px;
  font-size: 27px;
  font-weight: 300;
  color: #222222;
  text-transform: uppercase;
}

.header-inner__word_color,
.column-logo__word_color {
  font-weight: 900;
  color: #f16d7f;
}

.header-inner__logo:hover,
.header-inner__form-button-icon-search:hover,
.header-inner__controls-button-icon-cart:hover,
.column-logo__icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header-inner__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header-inner__form-button {
  padding: 12px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  background-color: #f8f8f8;
  border: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header-inner__form-button:hover {
  background-color: #e6e6e6;
}

.header-inner__form-button-text_mr-5 {
  margin-right: 5px;
}

.header-inner__form-button-triangle_view {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid #838383;
}

.header-inner__form-input {
  padding-left: 15px;
  border: none;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.header-inner__form-button_search {
  position: relative;
  width: 38px;
  background-color: #ffffff;
  border: none;
}

.header-inner__form-button-icon-search {
  position: absolute;
  top: 11px;
  left: 4px;
  fill: #a4a4a4;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header-inner__form-button-icon-search:hover {
  fill: #222222;
}

.header-inner__controls {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-inner__controls-button_cart {
  margin-right: 25px;
  padding-top: 5px;
  border: none;
  background-color: #ffffff;
}

.header-inner__controls-button-icon-cart {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header-inner__controls-button_account {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: #f16d7f;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header-inner__controls-button-text {
  margin-right: 7px;
  padding: 12px 0;
  font-size: 15px;
  color: #ffffff;
}

.header-inner__controls-button-triangle {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid #ffffff;
}

.header-inner__controls-button_account:hover {
  background-color: #f31734;
}

/*--------------------*/
/*====menu====*/
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__link {
  position: relative;
  margin-right: 40px;
  padding: 15px 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.menu__link_activ::before {
  content: " ";
  position: absolute;
  top: 41px;
  left: -6px;
  display: block;
  width: 120%;
  height: 3px;
  background-color: #ef5b70;
}

.menu__link:last-child {
  margin-right: 0;
}

.menu__link:hover {
  color: #f16d7f;
}

.menu__link:hover::before {
  content: " ";
  position: absolute;
  top: 41px;
  left: -6px;
  display: block;
  width: 120%;
  height: 3px;
  background-color: #ef5b70;
}

/*--------------------*/
.menu-burger {
  display: none;
}

/*====media header and menu====*/
@media (max-width: 767px) {
  .header-inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-inner__form,
  .header-inner__controls,
  .menu {
    display: none;
  }
  .header__burger {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .header__burger span {
    position: absolute;
    left: 0;
    top: 17.5px;
    width: 100%;
    height: 3px;
    background-color: #222222;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: #222222;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .header__burger:before {
    top: 3px;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger_active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger_active:before {
    top: 16px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__burger_active:after {
    bottom: 16px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-burger {
    padding: 0 5%;
    position: absolute;
    top: -10000px;
    left: 0;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    background-color: #e8e8e8;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .menu-burger_active {
    top: 110px;
  }
  .menu-burger__nav {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-burger__nav-link {
    position: relative;
    padding: 15px 0;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .menu-burger__nav-link:hover {
    color: #f16d7f;
  }
  .menu-burger__nav-link:hover::before {
    content: " ";
    position: absolute;
    top: 41px;
    left: -6px;
    display: block;
    width: 40%;
    height: 3px;
    background-color: #ef5b70;
  }
  .menu-burger__form {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-burger__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*--------------------*/
/*====introduction====*/
.introduction {
  background-color: #f8f3f4;
  text-transform: uppercase;
}

.introduction__item {
  padding: 65px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introduction__title {
  font-size: 24px;
  font-weight: 900;
  color: #f16d7f;
}

.introduction__address {
  font-weight: 300;
  color: #636363;
}

.introduction__address_color {
  font-weight: 700;
  color: #f16d7f;
}

/*--------------------*/
/*====introduction====*/
@media (max-width: 576px) {
  .introduction__title {
    font-size: 16px;
  }
  .introduction__address {
    font-size: 12px;
  }
}

@media (max-width: 380px) {
  .introduction__item {
    padding: 40px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .introduction__title {
    margin-bottom: 20px;
  }
}

/*====checkout====*/
.main {
  margin-bottom: 95px;
}

.checkout__toggle {
  display: none;
}

.checkout__name {
  padding: 30px 0;
  display: block;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  cursor: pointer;
}

.checkout__name-text {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.checkout__name-text_mr-10 {
  margin-right: 10px;
}

.checkout__name-text:hover {
  color: #ef5b70;
}

.checkout__main {
  padding: 5px 0 80px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkout-main__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
}

.checkout-main__title {
  margin-bottom: 15px;
  text-transform: uppercase;
}

.checkout-main__subtitle {
  margin-bottom: 25px;
  color: #b3b2b2;
}

.checkout-main__btn {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  text-transform: uppercase;
}

.checkout-main__btn_mr-12 {
  margin-right: 12px;
}

.checkout-main__btn_text {
  padding-top: 5px;
}

.checkout-main__title_pt-15 {
  padding-top: 15px;
}

.checkout-main__transition {
  margin-bottom: 15px;
  color: #b3b2b2;
}

.checkout-main__transition_mb-38 {
  margin-bottom: 38px;
}

.checkout-main__transition_icon {
  width: 12px;
  height: 12px;
  fill: #b3b2b2;
}

.checkout-main__button {
  padding: 20px 0px;
  width: 180px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.checkout-main__hint {
  margin-bottom: 14px;
  font-size: 12px;
  text-transform: uppercase;
}

.checkout-main__hint_color,
.checkout-main__warning {
  color: #ff0d0d;
}

.checkout-main__hint_mb-20 {
  margin-bottom: 20px;
  padding: 13px 0;
}

.checkout-main__warning {
  margin-bottom: 30px;
}

.checkout-main__button_mr-30 {
  margin-right: 30px;
}

.checkout__toggle:checked ~ .checkout__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkout__toggle:checked ~ .checkout__name {
  border: none;
}

/*--------------------*/
/*====media reviews====*/
@media (max-width: 767px) {
  .main {
    margin-bottom: 30px;
  }
  .checkout__main {
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .checkout-main__registrer {
    margin-bottom: 20px;
  }
}

/*--------------------*/
/*====reviews====*/
.reviews {
  position: relative;
  background-image: url(../image/reviews/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reviews::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(244, 244, 244, 0.7);
}

.reviews-columns {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews-columns__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  color: #222224;
}

.reviews-columns__column-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-columns__column-comment-photo {
  padding-bottom: 50px;
}

.reviews-columns__column-comment-text {
  max-width: 387px;
  font-size: 16px;
  color: #222224;
}

.reviews-columns__column-comment-text_feedback {
  margin-bottom: 15px;
  display: block;
  line-height: 26px;
  font-style: italic;
}

.reviews-columns__column-comment-text_name {
  display: block;
  font-weight: 700;
  color: #f16d7f;
}

.reviews-columns__column-comment-text_entity {
  font-size: 12px;
}

.reviews-columns__column-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-left: 1px solid #fff;
  text-transform: uppercase;
}

.reviews-columns__column-form-title {
  padding-top: 34%;
  margin-bottom: 14px;
  font-size: 24px;
  font-weight: 700;
}

.reviews-columns__column-form-subtitle {
  margin-bottom: 32px;
}

.reviews-columns__column-form-button {
  margin: 0 auto 39%;
  max-width: 356px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: #e1e1e1;
  border-radius: 50px;
}

.reviews-columns__column-form-button_email {
  padding-left: 21px;
  border: none;
  background-color: #e1e1e1;
}

.reviews-columns__column-form-button_email::-webkit-input-placeholder {
  color: #222224;
  opacity: 0.67;
}

.reviews-columns__column-form-button_btn {
  padding: 16px 18px;
  color: #ffffff;
  border: none;
  background: #f16d7f;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.reviews-columns__column-form-button_btn:hover {
  background: #f31734;
}

/*--------------------*/
/*====media reviews====*/
@media (max-width: 767px) {
  .reviews-columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reviews-columns__column-comment {
    padding-top: 10%;
    margin-bottom: 10%;
  }
  .reviews-columns__column-form {
    border: none;
  }
  .reviews-columns__column-form-title {
    padding-top: 0;
  }
  .reviews-columns__column-form-button {
    margin-bottom: 10%;
  }
}

@media (max-width: 576px) {
  .reviews-columns__column-comment-photo {
    display: none;
  }
  .reviews-columns__column-form-button_email {
    width: 75%;
  }
}

/*--------------------*/
/*====footer====*/
.footer-columns {
  margin: 100px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% (20%)[3];
      grid-template-columns: 40% repeat(3, 20%);
}

.column-logo__text {
  padding-top: 25px;
  line-height: 24px;
  font-weight: 300;
  color: #898989;
}

.footer-column {
  padding-left: 60px;
}

.footer-column__title {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
  color: #f16d7f;
}

.footer-column__list {
  margin-bottom: 25px;
}

.footer-column__list-link {
  font-size: 16px;
  color: #898989;
}

.footer-column__list-link:hover {
  color: #f16d7f;
}

.footer-bottom {
  background-color: #e6e6e6;
}

.footer-bottom__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom__text {
  padding: 30px 0;
  font-size: 16px;
  color: #7a7a7a;
}

.footer-bottom__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social__item {
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.social__icon {
  fill: #b2b2b2;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.social__item:hover {
  background-color: #f16d7f;
}

.social__item:active {
  opacity: 0.29;
  background-color: #ededed;
}

.social__item:hover .social__icon {
  fill: #ffffff;
}

/*--------------------*/
/*====media footer====*/
@media (max-width: 767px) {
  .footer-columns {
    margin: 40px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-column {
    padding-left: 0;
  }
  .footer-columns__column-logo {
    margin-bottom: 20px;
  }
  .column-logo__text {
    display: none;
  }
  .footer-column__title {
    margin-bottom: 20px;
    text-align: center;
  }
  .footer-column__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-column__list {
    margin-right: 10px;
  }
  .footer-bottom__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-bottom__text {
    padding: 15px 0;
  }
  .footer-bottom__social {
    margin-bottom: 15px;
  }
  .social__icon {
    max-width: 50%;
  }
}

/*--------------------*/
