/*==== zero ====*/
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a,
a:visited {
    text-decoration: none;
    cursor: pointer;
}
*input,
button,
textarea {
    font-family: inherit;
}
button {
    cursor: pointer;
}
/*--------------------*/

body {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #222222;
    background-color: #ffffff;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
/*--------------------*/

/*====header====*/
.header {
    padding: 30px 0;
    border: 1px solid #ececec;
}
.header-inner,
.header-inner__logo,
.column-logo__icon {
    display: flex;
    align-items: center;
    transition: all 0.3s linear;
}
.header__burger {
    display: none;
}
.header-inner__logo_mr-30 {
    margin-right: 30px;
}
.header-inner__word,
.column-logo__word {
    padding-left: 10px;
    font-size: 27px;
    font-weight: 300;
    color: #222222;
    text-transform: uppercase;
}
.header-inner__word_color,
.column-logo__word_color {
    font-weight: 900;
    color: #f16d7f;
}
.header-inner__logo:hover,
.header-inner__form-button-icon-search:hover,
.header-inner__controls-button-icon-cart:hover,
.column-logo__icon:hover {
    transform: scale(1.2);
}
.header-inner__form {
    display: flex;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    transition: all 0.3s linear;
}
.header-inner__form-button {
    padding: 12px 15px;
    display: flex;
    align-items: center;
    font-weight: 300;
    background-color: #f8f8f8;
    border: none;
    transition: all 0.3s linear;
}
.header-inner__form-button:hover {
    background-color: #e6e6e6;
}
.header-inner__form-button-text_mr-5 {
    margin-right: 5px;
}
.header-inner__form-button-triangle_view {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #838383;
}
.header-inner__form-input {
    padding-left: 15px;
    border: none;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}
.header-inner__form-button_search {
    position: relative;
    width: 38px;
    background-color: #ffffff;
    border: none;
}
.header-inner__form-button-icon-search {
    position: absolute;
    top: 11px;
    left: 4px;
    fill: #a4a4a4;
    transition: all 0.3s linear;
}
.header-inner__form-button-icon-search:hover {
    fill: #222222;
}
.header-inner__controls {
    margin-left: auto;
    display: flex;
}
.header-inner__controls-button_cart {
    margin-right: 25px;
    padding-top: 5px;
    border: none;
    background-color: #ffffff;
}
.header-inner__controls-button-icon-cart {
    transition: all 0.3s linear;
}
.header-inner__controls-button_account {
    padding: 0 15px;
    display: flex;
    align-items: center;
    border: none;
    background-color: #f16d7f;
    transition: all 0.3s linear;
}
.header-inner__controls-button-text {
    margin-right: 7px;
    padding: 12px 0;
    font-size: 15px;
    color: #ffffff;
}
.header-inner__controls-button-triangle {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #ffffff;
}
.header-inner__controls-button_account:hover {
    background-color: #f31734;
}
/*--------------------*/

/*====menu====*/
.menu {
    display: flex;
    justify-content: center;
}
.menu__link {
    position: relative;
    margin-right: 40px;
    padding: 15px 0;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    transition: all 0.3s linear;
}
.menu__link_activ::before {
    content: " ";
    position: absolute;
    top: 41px;
    left: -6px;
    display: block;
    width: 120%;
    height: 3px;
    background-color: #ef5b70;
}
.menu__link:last-child {
    margin-right: 0;
}
.menu__link:hover {
    color: #f16d7f;
}
.menu__link:hover::before {
    content: " ";
    position: absolute;
    top: 41px;
    left: -6px;
    display: block;
    width: 120%;
    height: 3px;
    background-color: #ef5b70;
}
/*--------------------*/

.menu-burger {
    display: none;
}

/*====media header and menu====*/
@media (max-width: 767px) {
    .header-inner {
        justify-content: space-between;
    }
    .header-inner__form,
    .header-inner__controls,
    .menu {
        display: none;
    }
    .header__burger {
        position: relative;
        display: block;
        width: 35px;
        height: 35px;
        transition: all 0.2s linear;
    }
    .header__burger span {
        position: absolute;
        left: 0;
        top: 17.5px;
        width: 100%;
        height: 3px;
        background-color: #222222;
    }
    .header__burger:before,
    .header__burger:after {
        content: "";
        position: absolute;
        right: 0;
        width: 100%;
        height: 3px;
        background-color: #222222;
        transition: all 0.2s;
    }
    .header__burger:before {
        top: 3px;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger_active span {
        transform: scale(0);
    }
    .header__burger_active:before {
        top: 16px;
        transform: rotate(45deg);
    }
    .header__burger_active:after {
        bottom: 16px;
        transform: rotate(-45deg);
    }
    .menu-burger {
        padding: 0 5%;
        position: absolute;
        top: -10000px;
        left: 0;
        z-index: 5;
        display: flex;
        width: 100%;
        height: 500px;
        flex-direction: column;
        overflow: hidden;
        background-color: #e8e8e8;
        transition: all 0.3s linear;
    }
    .menu-burger_active {
        top: 110px;
    }
    .menu-burger__nav {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
    .menu-burger__nav-link {
        position: relative;
        padding: 15px 0;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;
        transition: all 0.3s linear;
    }
    .menu-burger__nav-link:hover {
        color: #f16d7f;
    }
    .menu-burger__nav-link:hover::before {
        content: " ";
        position: absolute;
        top: 41px;
        left: -6px;
        display: block;
        width: 40%;
        height: 3px;
        background-color: #ef5b70;
    }
    .menu-burger__form {
        margin-bottom: 20px;
        display: flex;
    }
    .menu-burger__controls {
        display: flex;
    }
}
/*--------------------*/

/*====presentation====*/
.presentation {
    padding: 15% 0 19% 0; //перенести
    background-color: #e8e8e8;
    background-image: url(../image/titlePage/image_frame.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.presentation__text {
    position: relative;
    padding-left: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
}
.presentation__text::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 7px;
    bottom: 5px;
    display: block;
    width: 12px;
    background-color: #f16d7f;
}
.presentation__text_font-size-big {
    font-size: 48px;
    font-weight: 900;
}
.presentation__text_font-size-smail {
    font-size: 32px;
}
.presentation__text_font-size-color {
    font-size: 37px;
    color: #f16d7f;
}
/*--------------------*/
/*====presentation====*/
@media (max-width: 767px) {
    .presentation__text_font-size-big {
        font-size: 38px;
    }
    .presentation__text_font-size-smail {
        font-size: 22px;
    }
    .presentation__text_font-size-color {
        font-size: 27px;
    }
}
@media (max-width: 576px) {
    .presentation {
        background-image: none;
    }
}
/*--------------------*/

/*====deal====*/
.deal {
    padding-top: 97px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 20px;
}
.deal-item {
    position: relative;
    padding-bottom: 50%;
    transition: all 0.3s linear;
}
.deal-item:hover {
    box-shadow: 10px 10px 8px 5px rgba(0, 0, 0, 0.15);
}
.deal-item_big {
    grid-row: span 2;
    padding-bottom: 100%;
}
.deal-item__photo_images,
.suggestion-item__photo_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}
.deal-item__photo_images,
.suggestion-item__photo_image {
    object-fit: cover;
}
.deal-item__layer {
    padding: 15px;
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 4;
    display: inline-block;
    background-color: #fff;
}
.deal-item__text {
    font-size: 16px;
}
.deal-item__title {
    font-size: 24px;
    font-weight: 700;
    color: #f16d7f;
}
/*--------------------*/

/*====deal====*/
@media (max-width: 767px) {
    .deal {
        padding-top: 30px;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}
@media (max-width: 576px) {
    .deal {
        padding-top: 30px;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
    .deal-item__text {
        font-size: 15px;
    }
    .deal-item__title {
        font-size: 19px;
    }
}
@media (max-width: 320px) {
    .deal {
        padding-top: 30px;
        grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    }
}
/*--------------------*/

/*====suggestion====*/
.suggestion-heading {
    padding-top: 97px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.suggestion-heading__title {
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
}
.suggestion-heading__subtitle {
    margin-bottom: 60px;
    color: #9f9f9f;
}
.suggestion-items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.suggestion-item {
    position: relative;
    flex: 1 1 23%;
    min-width: 250px;
    transition: all 0.3s linear;
}
.suggestion-item:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.suggestion-item__photo {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}
.suggestion-item__hover {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(58, 56, 56, 0.86);
}
.suggestion-item__hover-dorder {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid #fff;
}
.suggestion-item__hover-logo {
    margin-right: 7px;
    width: 23px;
    height: 22px;
}
.suggestion-item__hover-text {
    padding: 12px 0;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
}
.suggestion-item:hover .suggestion-item__photo_image {
    z-index: -1;
}
.suggestion-item__text {
    padding: 20px 0 20px 15px;
}
.suggestion-item__text-title {
    margin-bottom: 15px;
    text-transform: uppercase;
}
.suggestion-item__text-price {
    font-size: 16px;
    text-transform: uppercase;
    color: #f16d7f;
}
.suggestion-button {
    margin: 80px auto;
    padding: 17px 15px 19px 20px;
    display: flex;
    align-items: center;
    background-color: #f16d7f;
    border: 1px solid #ff6a6a;
    transition: all 0.3s linear;
}
.suggestion-button__text {
    margin-right: 12px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}
.suggestion-button__arrow {
    width: 14px;
    height: 16px;
    fill: #fff;
}
.suggestion-button:hover {
    background-color: #f31734;
}
/*--------------------*/

/*====reservation====*/
@media (max-width: 767px) {
    .suggestion-heading {
        padding-top: 30px;
    }
    .suggestion-heading__subtitle {
        margin-bottom: 30px;
    }
    .suggestion-items {
        gap: 20px;
    }
    .suggestion-button {
        margin: 30px auto;
    }
}
/*--------------------*/

/*====reservation====*/
.reservation {
    margin-bottom: 95px;
    padding: 0;
    display: grid;
    grid-template-columns: 67% 11% 22%;
    grid-template-rows: repeat(3, 1fr) 60px;
    background: #222224;
}
.reservation-photo {
    padding: 145px 0 0 40px;
    grid-row: span 4;
    background-image: url(../image/reservation/Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-weight: 700;
    color: #ffffff;
}
.reservation-photo__title {
    margin-bottom: 5px;
    font-size: 53.7px;
}
.reservation-photo__title_color {
    color: #f16d7f;
}
.reservation-photo__title_smail {
    font-size: 32.2px;
}
.reservation__logo {
    margin-top: 44px;
    grid-column: 2;
    justify-self: center;
    fill: #f16d7f;
}
.reservation__logo_delivery {
    width: 45px;
    height: 32px;
}
.reservation__logo_discounts {
    width: 40px;
    height: 40px;
}
.reservation__logo_assurance {
    width: 47px;
    height: 35px;
}
.reservation-info {
    padding: 55px 38px 0 0;
    grid-column: 3;
    color: #fbfbfb;
}
.reservation-info__title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
}
.reservation-info__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
/*--------------------*/

/*====reservation====*/
@media (max-width: 767px) {
    .reservation {
        margin-bottom: 30px;
        grid-template-columns: 25% 75%;
    }
    .reservation-photo {
        display: none;
    }
    .reservation__logo {
        grid-column: 1;
    }
    .reservation-info {
        padding: 40px 10px 0 10px;
        grid-column: 2;
    }
}
/*--------------------*/

/*====reviews====*/
.reviews {
    position: relative;
    background-image: url(../image/reviews/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.reviews::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(244, 244, 244, 0.7);
}
.reviews-columns {
    position: relative;
    z-index: 2;
    display: flex;
}
.reviews-columns__column {
    flex: 1 1 50%;
    color: #222224;
}
.reviews-columns__column-comment {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.reviews-columns__column-comment-photo {
    padding-bottom: 50px;
}
.reviews-columns__column-comment-text {
    max-width: 387px;
    font-size: 16px;
    color: #222224;
}
.reviews-columns__column-comment-text_feedback {
    margin-bottom: 15px;
    display: block;
    line-height: 26px;
    font-style: italic;
}
.reviews-columns__column-comment-text_name {
    display: block;
    font-weight: 700;
    color: #f16d7f;
}
.reviews-columns__column-comment-text_entity {
    font-size: 12px;
}
.reviews-columns__column-form {
    flex-direction: column;
    text-align: center;
    border-left: 1px solid #fff;
    text-transform: uppercase;
}
.reviews-columns__column-form-title {
    padding-top: 34%;
    margin-bottom: 14px;
    font-size: 24px;
    font-weight: 700;
}
.reviews-columns__column-form-subtitle {
    margin-bottom: 32px;
}
.reviews-columns__column-form-button {
    margin: 0 auto 39%;
    max-width: 356px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #e1e1e1;
    border-radius: 50px;
}
.reviews-columns__column-form-button_email {
    padding-left: 21px;
    border: none;
    background-color: #e1e1e1;
}
.reviews-columns__column-form-button_email::-webkit-input-placeholder {
    color: #222224;
    opacity: 0.67;
}
.reviews-columns__column-form-button_btn {
    padding: 16px 18px;
    color: #ffffff;
    border: none;
    background: #f16d7f;
    transition: all 0.3s linear;
}
.reviews-columns__column-form-button_btn:hover {
    background: #f31734;
}
/*--------------------*/

/*====media reviews====*/
@media (max-width: 767px) {
    .reviews-columns {
        flex-direction: column;
    }
    .reviews-columns__column-comment {
        padding-top: 10%;
        margin-bottom: 10%;
    }
    .reviews-columns__column-form {
        border: none;
    }
    .reviews-columns__column-form-title {
        padding-top: 0;
    }
    .reviews-columns__column-form-button {
        margin-bottom: 10%;
    }
}
@media (max-width: 576px) {
    .reviews-columns__column-comment-photo {
        display: none;
    }
    .reviews-columns__column-form-button_email {
        width: 75%;
    }
}
/*--------------------*/

/*====footer====*/
.footer-columns {
    margin: 100px auto;
    display: grid;
    grid-template-columns: 40% repeat(3, 20%);
}
.column-logo__text {
    padding-top: 25px;
    line-height: 24px;
    font-weight: 300;
    color: #898989;
}
.footer-column {
    padding-left: 60px;
}
.footer-column__title {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 700;
    color: #f16d7f;
}
.footer-column__list {
    margin-bottom: 25px;
}
.footer-column__list-link {
    font-size: 16px;
    color: #898989;
}
.footer-column__list-link:hover {
    color: #f16d7f;
}
.footer-bottom {
    background-color: #e6e6e6;
}
.footer-bottom__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom__text {
    padding: 30px 0;
    font-size: 16px;
    color: #7a7a7a;
}
.footer-bottom__social {
    display: flex;
    justify-content: space-between;
}
.social__item {
    margin-right: 8px;
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: all 0.3s linear;
}
.social__icon {
    fill: #b2b2b2;
    transition: all 0.3s linear;
}
.social__item:hover {
    background-color: #f16d7f;
}
.social__item:active {
    opacity: 0.29;
    background-color: #ededed;
}
.social__item:hover .social__icon {
    fill: #ffffff;
}
/*--------------------*/

/*====media footer====*/
@media (max-width: 767px) {
    .footer-columns {
        margin: 40px auto;
        display: flex;
        flex-direction: column;
    }
    .footer-column {
        padding-left: 0;
    }
    .footer-columns__column-logo {
        margin-bottom: 20px;
    }
    .column-logo__text {
        display: none;
    }

    .footer-column__title {
        margin-bottom: 20px;
        text-align: center;
    }
    .footer-column__nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .footer-column__list {
        margin-right: 10px;
    }
    .footer-bottom__row {
        flex-direction: column;
    }
    .footer-bottom__text {
        padding: 15px 0;
    }
    .footer-bottom__social {
        margin-bottom: 15px;
    }
    .social__icon {
        max-width: 50%;
    }
}
/*--------------------*/
