/*==== zero ====*/
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a,
a:visited {
    text-decoration: none;
    cursor: pointer;
}
*input,
button,
textarea {
    font-family: inherit;
}
button {
    cursor: pointer;
}
/*--------------------*/

body {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #222222;
    background-color: #ffffff;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
/*--------------------*/

/*====header====*/
.header {
    padding: 30px 0;
    border: 1px solid #ececec;
}
.header-inner,
.header-inner__logo,
.column-logo__icon {
    display: flex;
    align-items: center;
    transition: all 0.3s linear;
}
.header__burger {
    display: none;
}
.header-inner__logo_mr-30 {
    margin-right: 30px;
}
.header-inner__word,
.column-logo__word {
    padding-left: 10px;
    font-size: 27px;
    font-weight: 300;
    color: #222222;
    text-transform: uppercase;
}
.header-inner__word_color,
.column-logo__word_color {
    font-weight: 900;
    color: #f16d7f;
}
.header-inner__logo:hover,
.header-inner__form-button-icon-search:hover,
.header-inner__controls-button-icon-cart:hover,
.column-logo__icon:hover {
    transform: scale(1.2);
}
.header-inner__form {
    display: flex;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    transition: all 0.3s linear;
}
.header-inner__form-button {
    padding: 12px 15px;
    display: flex;
    align-items: center;
    font-weight: 300;
    background-color: #f8f8f8;
    border: none;
    transition: all 0.3s linear;
}
.header-inner__form-button:hover {
    background-color: #e6e6e6;
}
.header-inner__form-button-text_mr-5 {
    margin-right: 5px;
}
.header-inner__form-button-triangle_view {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #838383;
}
.header-inner__form-input {
    padding-left: 15px;
    border: none;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}
.header-inner__form-button_search {
    position: relative;
    width: 38px;
    background-color: #ffffff;
    border: none;
}
.header-inner__form-button-icon-search {
    position: absolute;
    top: 11px;
    left: 4px;
    fill: #a4a4a4;
    transition: all 0.3s linear;
}
.header-inner__form-button-icon-search:hover {
    fill: #222222;
}
.header-inner__controls {
    margin-left: auto;
    display: flex;
}
.header-inner__controls-button_cart {
    margin-right: 25px;
    padding-top: 5px;
    border: none;
    background-color: #ffffff;
}
.header-inner__controls-button-icon-cart {
    transition: all 0.3s linear;
}
.header-inner__controls-button_account {
    padding: 0 15px;
    display: flex;
    align-items: center;
    border: none;
    background-color: #f16d7f;
    transition: all 0.3s linear;
}
.header-inner__controls-button-text {
    margin-right: 7px;
    padding: 12px 0;
    font-size: 15px;
    color: #ffffff;
}
.header-inner__controls-button-triangle {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #ffffff;
}
.header-inner__controls-button_account:hover {
    background-color: #f31734;
}
/*--------------------*/

/*====menu====*/
.menu {
    display: flex;
    justify-content: center;
}
.menu__link {
    position: relative;
    margin-right: 40px;
    padding: 15px 0;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    transition: all 0.3s linear;
}
.menu__link_activ::before {
    content: " ";
    position: absolute;
    top: 41px;
    left: -6px;
    display: block;
    width: 120%;
    height: 3px;
    background-color: #ef5b70;
}
.menu__link:last-child {
    margin-right: 0;
}
.menu__link:hover {
    color: #f16d7f;
}
.menu__link:hover::before {
    content: " ";
    position: absolute;
    top: 41px;
    left: -6px;
    display: block;
    width: 120%;
    height: 3px;
    background-color: #ef5b70;
}
/*--------------------*/

.menu-burger {
    display: none;
}

/*====media header and menu====*/
@media (max-width: 767px) {
    .header-inner {
        justify-content: space-between;
    }
    .header-inner__form,
    .header-inner__controls,
    .menu {
        display: none;
    }
    .header__burger {
        position: relative;
        display: block;
        width: 35px;
        height: 35px;
        transition: all 0.2s linear;
    }
    .header__burger span {
        position: absolute;
        left: 0;
        top: 17.5px;
        width: 100%;
        height: 3px;
        background-color: #222222;
    }
    .header__burger:before,
    .header__burger:after {
        content: "";
        position: absolute;
        right: 0;
        width: 100%;
        height: 3px;
        background-color: #222222;
        transition: all 0.2s;
    }
    .header__burger:before {
        top: 3px;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger_active span {
        transform: scale(0);
    }
    .header__burger_active:before {
        top: 16px;
        transform: rotate(45deg);
    }
    .header__burger_active:after {
        bottom: 16px;
        transform: rotate(-45deg);
    }
    .menu-burger {
        padding: 0 5%;
        position: absolute;
        top: -10000px;
        left: 0;
        z-index: 5;
        display: flex;
        width: 100%;
        height: 500px;
        flex-direction: column;
        overflow: hidden;
        background-color: #e8e8e8;
        transition: all 0.3s linear;
    }
    .menu-burger_active {
        top: 110px;
    }
    .menu-burger__nav {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
    .menu-burger__nav-link {
        position: relative;
        padding: 15px 0;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;
        transition: all 0.3s linear;
    }
    .menu-burger__nav-link:hover {
        color: #f16d7f;
    }
    .menu-burger__nav-link:hover::before {
        content: " ";
        position: absolute;
        top: 41px;
        left: -6px;
        display: block;
        width: 40%;
        height: 3px;
        background-color: #ef5b70;
    }
    .menu-burger__form {
        margin-bottom: 20px;
        display: flex;
    }
    .menu-burger__controls {
        display: flex;
    }
}
/*--------------------*/

/*====introduction====*/
.introduction {
    background-color: #f8f3f4;
    text-transform: uppercase;
}
.introduction__item {
    padding: 65px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.introduction__title {
    font-size: 24px;
    font-weight: 900;
    color: #f16d7f;
}
.introduction__address {
    font-weight: 300;
    color: #636363;
}
.introduction__address_color {
    font-weight: 700;
    color: #f16d7f;
}
/*--------------------*/
/*====introduction====*/
@media (max-width: 576px) {
    .introduction__title {
        font-size: 16px;
    }
    .introduction__address {
        font-size: 12px;
    }
}
@media (max-width: 380px) {
    .introduction__item {
        padding: 40px 15px;
        flex-direction: column;
    }
    .introduction__title {
        margin-bottom: 20px;
    }
}
/*--------------------*/
.main {
    display: grid;
    grid-template-columns: 25% 75%;
}

/*====sidebar====*/
.sidebar {
    padding: 60px 30px 0 0;
    grid-column: 1/2;
}
.sidebar__group-name-toggle,
.sidebar__group-item {
    display: none;
}
.sidebar__group-name {
    padding: 14px 6px 14px 11px;
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
    border-left: 5px solid #ef5b70;
    font-weight: 700;
    text-transform: uppercase;
    color: #6f6e6e;
    cursor: pointer;
}

.sidebar__group-name-text_triangle {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #6f6e6e;
    transition: all 0.3s linear;
}

.sidebar__group-item-link {
    margin-bottom: 20px;
    padding-left: 15px;
    font-weight: 400;
    color: #6f6e6e;
}
.sidebar__group-name-toggle:checked ~ .sidebar__group-item {
    display: flex;
    flex-direction: column;
}
.sidebar__group-name-toggle:checked ~ .sidebar__group-name {
    color: #ef5b70;
}
.sidebar__group-name-toggle:checked ~ .sidebar__group-name .sidebar__group-name-text_triangle {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 7px solid #ef5b70;
    border-top: none;
}
/*--------------------*/

/*====sidebar====*/
@media (max-width: 767px) {
    .sidebar {
        grid-column: 1/3;
    }
}
/*--------------------*/
.main-content {
    grid-column: 2/3;
}
@media (max-width: 767px) {
    .main-content {
        grid-column: 1/3;
    }
}
/*====filter====*/
.filter {
    padding: 70px 0 40px;
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
}
.filter__title {
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6f6e6e;
}
.filter__trend {
    margin-left: -15px;
}
.filter-trend__title {
    padding-left: 15px;
}
.filter-trend__button {
    margin-bottom: 15px;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 400;
    color: #6f6e6e;
    border: none;
    background: transparent;
}
.filter-trend__button_after {
    padding-right: 20px;
    border-right: 2px solid #e2e2e2;
}
.filter-trend__button:hover {
    color: #f16d7f;
}
.filter__size {
    display: grid;
    grid-template-rows: repeat(3, 0.7fr);
    grid-template-columns: repeat(auto-fit, minmax(50px, 75px));
}
.filter-size__title {
    grid-row: 1/2;
    grid-column: 1/5;
}
.filter-size__btn_text {
    padding-left: 10px;
    text-transform: uppercase;
    color: #6f6e6e;
}
.filter__size_text {
    padding-left: 6px;
}
.filter__item_price {
    padding-left: 15px;
}
.filter__price-controls {
    position: relative;
    margin-bottom: 20px;
}
.price-controls__scale {
    height: 6px;
    border-radius: 3px;
    background: #f0f0f0;
}
.price-controls__bar {
    margin-left: 20%;
    width: 50%;
    height: 6px;
    background: #f16d7f;
}
.price-controls__toggle {
    position: absolute;
    top: -4px;
    left: 0;
    width: 14px;
    height: 14px;
    border: none;
    padding: 0;
    background-color: #f16d7f;
    border-radius: 50%;
    cursor: pointer;
}
.price-controls__toggle_min {
    left: 20%;
}
.price-controls__toggle_max {
    left: 70%;
}
.price-controls__text {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    color: #6f6e6e;
}
/*--------------------*/
@media (max-width: 767px) {
    .filter {
        padding: 25px 15px;
        display: flex;
        flex-direction: column;
    }
    .filter__trend {
        margin-bottom: 15px;
    }
    .filter__size {
        margin-bottom: 25px;
        grid-template-columns: repeat(4, minmax(50px, 75px));
    }
    .filter__item_price {
        padding-left: 0;
    }
    .filter__price-controls,
    .price-controls__text {
        width: 70%;
    }
}

/*====sorting====*/
.sorting {
    padding: 10px 9px;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
}
.sorting__item {
    display: flex;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
}
.sorting__item_mr {
    margin-right: 10px;
}
.sorting__item-button {
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #6f6e6e;
    border: none;
    background: transparent;
}
.sorting__item-button:hover {
    color: #ef5b70;
}
.sorting__item-button_border {
    border-right: 1px solid #ebebeb;
}
.sorting__item-button_text {
    margin-right: 10px;
}
.sorting__item-button_triangle {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #6f6e6e;
}
/*--------------------*/

/*====product====*/
.product {
    padding: 48px 0 110px 0;
}
.product__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(263px, 1fr));
    gap: 20px;
}
.product-items__item {
    position: relative;
    flex: 1 1 23%;
    transition: all 0.3s linear;
}
.product-item:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.product-item__photo {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}
.product-item__photo_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}
.product-item__hover {
    position: absolute;

    width: 100%;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(58, 56, 56, 0.86);
}
.hover__item {
    display: flex;
}
.product-item__hover-dorder {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid #fff;
}
.hover-dorder_mb-8 {
    margin-bottom: 8px;
}
.hover-dorder_mr-8 {
    margin-right: 8px;
}
.product-item__hover-button {
    padding: 10px 15px;
}
.product-item__hover-logo {
    width: 23px;
    height: 22px;
    fill: #fff;
    background-color: transparent;
}
.product-item__hover-logo_mr-7 {
    margin-right: 7px;
}
.product-item__hover-text {
    padding: 12px 0;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
}
.product-items__item:hover .product-item__photo_image {
    z-index: -1;
}
.product-item__text {
    padding: 20px 0 20px 15px;
}
.product-item__text-title {
    margin-bottom: 15px;
    text-transform: uppercase;
}
.product-item__text-price {
    font-size: 16px;
    text-transform: uppercase;
    color: #f16d7f;
}
.product__footer {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-footer__pagination {
    padding: 15px 6px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
}
.pagination__link {
    padding: 6px;
    font-size: 16px;
    font-weight: 700;
    color: #c4c4c4;
}
.pagination__link:hover {
    color: #ef5b70;
}
.pagination__link_activ {
    color: #ef5b70;
}
.product-footer__button {
    padding: 15px 45px;
    background-color: transparent;
    border: 1px solid #ff6a6a;
    border-radius: 3px;
    transition: all 0.3s linear;
}
.product-footer__button-text {
    font-size: 16px;
    font-weight: 700;
    color: #ef5b70;
}
.product-footer__button:hover {
    background-color: #f31734;
}
.product-footer__button:hover .product-footer__button-text {
    color: #fff;
}
/*--------------------*/

/*====product====*/
@media (max-width: 500px) {
    .product {
        padding: 30px 0 30px 0;
    }
    .product__footer {
        padding-top: 15px;
        flex-direction: column;
    }
    .product-footer__pagination {
        margin-bottom: 20px;
    }
}
/*--------------------*/

/*====reservation====*/
.reservation {
    background: #222224;
}
.reservation__items {
    display: flex;
    justify-content: space-between;
}
.reservation__item {
    padding: 103px 0 104px;
    flex: 1 1 33.333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fbfbfb;
    transition: all 0.3s linear;
}
.reservation__logo_delivery {
    width: 45px;
    height: 32px;
}
.reservation__logo_discounts {
    width: 40px;
    height: 40 px;
}
.reservation__logo_assurance {
    width: 47px;
    height: 35px;
}
.reservation__logo {
    margin-bottom: 28px;
    fill: #f16d7f;
}
.reservation__item:hover .reservation__logo {
    fill: #fbfbfb;
}
.reservation__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
}
.reservation__text {
    font-size: 14px;
    line-height: 17px;
}
/*--------------------*/
/*====reservation====*/
@media (max-width: 767px) {
    .reservation__items {
        padding: 20px 0 20px;
        flex-direction: column;
    }
    .reservation__item {
        padding: 15px;
    }
}
/*--------------------*/
/*====reviews====*/
.reviews {
    position: relative;
    background-image: url(../image/reviews/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.reviews::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(244, 244, 244, 0.7);
}
.reviews-columns {
    position: relative;
    z-index: 2;
    display: flex;
}
.reviews-columns__column {
    flex: 1 1 50%;
    color: #222224;
}
.reviews-columns__column-comment {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.reviews-columns__column-comment-photo {
    padding-bottom: 50px;
}
.reviews-columns__column-comment-text {
    max-width: 387px;
    font-size: 16px;
    color: #222224;
}
.reviews-columns__column-comment-text_feedback {
    margin-bottom: 15px;
    display: block;
    line-height: 26px;
    font-style: italic;
}
.reviews-columns__column-comment-text_name {
    display: block;
    font-weight: 700;
    color: #f16d7f;
}
.reviews-columns__column-comment-text_entity {
    font-size: 12px;
}
.reviews-columns__column-form {
    flex-direction: column;
    text-align: center;
    border-left: 1px solid #fff;
    text-transform: uppercase;
}
.reviews-columns__column-form-title {
    padding-top: 34%;
    margin-bottom: 14px;
    font-size: 24px;
    font-weight: 700;
}
.reviews-columns__column-form-subtitle {
    margin-bottom: 32px;
}
.reviews-columns__column-form-button {
    margin: 0 auto 39%;
    max-width: 356px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #e1e1e1;
    border-radius: 50px;
}
.reviews-columns__column-form-button_email {
    padding-left: 21px;
    border: none;
    background-color: #e1e1e1;
}
.reviews-columns__column-form-button_email::-webkit-input-placeholder {
    color: #222224;
    opacity: 0.67;
}
.reviews-columns__column-form-button_btn {
    padding: 16px 18px;
    color: #ffffff;
    border: none;
    background: #f16d7f;
    transition: all 0.3s linear;
}
.reviews-columns__column-form-button_btn:hover {
    background: #f31734;
}
/*--------------------*/

/*====media reviews====*/
@media (max-width: 767px) {
    .reviews-columns {
        flex-direction: column;
    }
    .reviews-columns__column-comment {
        padding-top: 10%;
        margin-bottom: 10%;
    }
    .reviews-columns__column-form {
        border: none;
    }
    .reviews-columns__column-form-title {
        padding-top: 0;
    }
    .reviews-columns__column-form-button {
        margin-bottom: 10%;
    }
}
@media (max-width: 576px) {
    .reviews-columns__column-comment-photo {
        display: none;
    }
    .reviews-columns__column-form-button_email {
        width: 75%;
    }
}
/*--------------------*/

/*====footer====*/
.footer-columns {
    margin: 100px auto;
    display: grid;
    grid-template-columns: 40% repeat(3, 20%);
}
.column-logo__text {
    padding-top: 25px;
    line-height: 24px;
    font-weight: 300;
    color: #898989;
}
.footer-column {
    padding-left: 60px;
}
.footer-column__title {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 700;
    color: #f16d7f;
}
.footer-column__list {
    margin-bottom: 25px;
}
.footer-column__list-link {
    font-size: 16px;
    color: #898989;
}
.footer-column__list-link:hover {
    color: #f16d7f;
}
.footer-bottom {
    background-color: #e6e6e6;
}
.footer-bottom__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom__text {
    padding: 30px 0;
    font-size: 16px;
    color: #7a7a7a;
}
.footer-bottom__social {
    display: flex;
    justify-content: space-between;
}
.social__item {
    margin-right: 8px;
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: all 0.3s linear;
}
.social__icon {
    fill: #b2b2b2;
    transition: all 0.3s linear;
}
.social__item:hover {
    background-color: #f16d7f;
}
.social__item:active {
    opacity: 0.29;
    background-color: #ededed;
}
.social__item:hover .social__icon {
    fill: #ffffff;
}
/*--------------------*/

/*====media footer====*/
@media (max-width: 767px) {
    .footer-columns {
        margin: 40px auto;
        display: flex;
        flex-direction: column;
    }
    .footer-column {
        padding-left: 0;
    }
    .footer-columns__column-logo {
        margin-bottom: 20px;
    }
    .column-logo__text {
        display: none;
    }

    .footer-column__title {
        margin-bottom: 20px;
        text-align: center;
    }
    .footer-column__nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .footer-column__list {
        margin-right: 10px;
    }
    .footer-bottom__row {
        flex-direction: column;
    }
    .footer-bottom__text {
        padding: 15px 0;
    }
    .footer-bottom__social {
        margin-bottom: 15px;
    }
    .social__icon {
        max-width: 50%;
    }
}
/*--------------------*/
